h1 {
	text-align: center;
}
.styled {
	border: solid black 1px;
	background-color: blue;
	color:white;
	text-align: center;
	height: 100px;
}
 .make {
 	text-transform: uppercase;

 }

 .description {
 	font-style: italic;
 	font-style: italic;
 	font-weight: 550;
 }

 .price{
  font-weight: bolder;
 }

 .thickBorder {
 	border: solid black 10px;
 	background-color: tan;
 }